# SPDX-FileCopyrightText: NONE
#
# SPDX-License-Identifier: CC0-1.0
*
# Git
!*.gitignore
!*.gitmodules
# Sources
!*.cpp
!*.h
# Cmake
!*.cmake
!*CMakeLists.txt


!LICENSES/
!LICENSES/*.txt
!include/
!cmake/
!src/
